# Node modules
node_modules
backend/node_modules
frontend/node_modules

# Environment variables
.env
backend/.env
frontend/.env

# Build folder
dist
frontend/dist

# VS Code settings
.vscode

# macOS files
.DS_Store